          <section id="about">
            <div class="row">
              <div class="col-md-1">
                <div class="section-title">
                  <div class="section-icon"><i class="fa fa-info"></i></div>
                  <div class="title">
                    <h4>求职目标</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-11">
                <div class="box-wrapper">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="avatar"><img src="images/avatar.jpg" alt="avatar"></div>
                      <!-- <div class="social-icons">
                        <ul>
                          <li><a title="博客" target="_blank" href="http://www.inorun.com" class="fa fa-rss"></a></li>
                          <li><a title="Github" target="_blank" href="https://github.com/flyingsword" class="fa fa-github"></a></li>
                          <li><a title="微博" target="_blank" href="http://weibo.com/inorun" class="fa fa-weibo"></a></li>
                          <li><a title="qq" target="_blank" href="/" class="fa fa-qq"></a></li>
                          <li><a title="微信" target="_blank" href="/" class="fa fa-weixin"></a></li>
                        </ul>
                      </div> -->
                    </div>
                    <div class="col-md-5 no-padding">
                      <div class="desc">以产品经理及项目经理为职业目标</div>
                      <div class="desc">对新技术和新产品主动探索仿制提高</div>
                      <div class="desc">超过10年项目管理及软件开发经验</div>
                      <div class="desc">能自主开发网页微信产品及带领团队</div>
                    </div>
                    <div class="col-md-4 center-on-mobile">
                      <ul class="round-rows">
                        <li>
                          <div class="round-row"><i class="fa fa-map-marker"></i><span>上海 中国</span></div>
                        </li>
                        <li>
                          <div class="round-row"><i class="fa fa-user"></i><span>1977年</span></div>
                        </li>
                        <li>
                          <div class="round-row"><i class="fa fa-envelope"></i><a href="mailto:wang_wnezhou@126.com"><span>wang_wnezhou@126.com</span></a></div>
                        </li>
                        <li>
                          <div class="round-row"><i class="fa fa-phone"></i><a href="tel:18621110004"><span>18621110004</span></a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
