          <section id="education">
            <div class="row">
              <div class="col-md-1">
                <div class="section-title">
                  <div class="section-icon"><i class="fa fa-book"></i></div>
                  <div class="title">
                    <h4>教育经历</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-11">
                <div class="box-wrapper edu-box">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="edu-wrapper">
                        <div class="head">
                          <h3>复旦大学软件学院</h3>
                          <div class="date-range">2009.1-2011.1</div>
                          <h4>工程硕士</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="edu-wrapper">
                        <div class="head">
                          <h3>新西兰维多利亚大学</h3>
                          <div class="date-range">2005.9-2009.6</div>
                          <h4>软件工程学士</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- <section id="life">
            <div class="row">
              <div class="col-md-1">
                <div class="section-title">
                  <div class="section-icon"><i class="fa fa-camera-retro"></i></div>
                  <div class="title">
                    <h4>生活</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-11">
                <div class="box-wrapper">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="map-wrapper">
                        <div id="map" data-lat='31.259068' data-lng='121.456105'></div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="photo-wrapper">
                        <div id="photos" data-ride="carousel" class="carousel slide">
                          <ol class="carousel-indicators">
                            <li data-target="#photos" data-slide-to='0' class="active"></li>
                            <li data-target="#photos" data-slide-to='1'></li>
                            <li data-target="#photos" data-slide-to='2'></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="item active"><img src="images/skating.jpg" alt="Skating">
                              <div class="carousel-caption">
                                <h3>轮滑刷街</h3>
                              </div>
                            </div>
                            <div class="item"><img src="images/archery.jpg" alt="Archery">
                              <div class="carousel-caption">
                                <h3>射箭</h3>
                              </div>
                            </div>
                            <div class="item"><img src="images/sea.jpg" alt="Sea">
                              <div class="carousel-caption">
                                <h3>毛里求斯的旅行</h3>
                              </div>
                            </div>
                          </div><a href="#photos" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#photos" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </section> -->