      <section id="employment">
        <div class="row">
          <div class="col-md-1">
            <div class="section-title">
              <div class="section-icon"><i class="fa fa-users"></i></div>
              <div class="title">
                <h4>工作经历</h4>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="box-wrapper emp-box">
              <div class="row timeline-wrapper">
                <div class="col-md-12">
                  <div class="emp-item">
                    <div class="emp-wrapper">
                      <div class="head">
                        <h3>上海紫贝文化创意港</h3>
                        <div class="date-range">2015.1-2017.7</div>
                        <h4>IT总监</h4>
                      </div>
                      <div class="body">
                        <span>负责公司和IT相关的所有硬软件事项，为公司房产的销售租赁提供信息化的技术性支持。期间独立完成公司官网的设计和开发，为http://www.purplebay.org及http://www.usa-houses.com等公司主页，分别采用MEAN及java+mysql开发。完成公司所需的微信公众公平的开发的产品设计，组织公司销售团队进行微信的每日订阅号版面设计及发送。平时宣传时需根据领导发现的优秀滑动H5进行自行设计其特效进行产品的宣传。根据公司发展管理外包的定制化软件产品，包括泛微的OA系统，用友的财务软件系统及明源的房产销售系统，该系统进行已经投入使用并负责其硬件维护及管理员角色。</span>
                        <span>汇报对象：公司总经理。</span>
                      </div>
                    </div>
                  </div>
                  <div class="emp-item">
                    <div class="emp-wrapper">
                      <div class="head">
                        <h3>上海天云融创科技有限公司</h3>
                        <div class="date-range">2011.6-2014.12</div>
                        <h4>项目总监</h4>
                      </div>
                      <div class="body">
                        <span>负责天云一千三百万浦软园云平台项目的开发，在项目危机的时候参与项目并接手负责，完成需求的重新明确，规划项目的技术和实施方案，管理公司开发和测试团队，实施团队及外包人员明确项目的目标，监督各个环节不偏离项目范围，通过项目锻炼培养团队核心人员，为公司后续产品线的带来更多的明确方向。</span>
                        <span>汇报对象：公司CEO 。直属员工：25人，带领项目及产品团队：2个</span>
                      </div>
                    </div>
                  </div>
                  <div class="emp-item">
                    <div class="emp-wrapper">
                      <div class="head">
                        <h3>上海移动数据业务中心</h3>
                        <div class="date-range">2006.1-2011.5</div>
                        <h4>项目经理</h4>
                      </div>
                      <div class="body">
                        <span>移动数据业务的二次开发项目的主要负责人，负责移动增值产品的规划、执行、监控及收尾工作。主要内容包括撰写项目需求及可行性分析报告，组织项目各类技术及维护方面的沟通，推动新项目的立项和开发、测试。并从公司组织架构里进行横向沟通；管理和监督项目团队的进度。完成了开发项目有2个千万级的项目，如云计算IDC业务、主叫彩铃业务及一系列50万左右的中小项目如炫彩天气，移动拍客，实时路况信息，简历中心等等移动增值业务产品。</span>
                        <span>汇报对象：数据业务部门经理，直属员工：3人</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
