<section id="project">
    <div class="row">
      <div class="col-md-1">
        <div class="section-title">
          <div class="section-icon"><i class="fa fa-rocket"></i></div>
          <div class="title">
            <h4>项目经历</h4>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="box-wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="pro-wrapper">
                <div class="head">
                  <div class="row">
                    <div class="col-md-2"><i class=""></i></div>
                      <div class="col-md-8">
                        <h3>上海紫贝美墅公司官网</h3>
                      </div>
                      <div class="col-md-2">
                        <div class="date-range">2016.8-2017.2</div>
                      </div>
                    </div>
                  </div>
                  <div class="body">
                    <div class="pro-labels">
                      <span class="label label-primary">nodejs</span>
                      <span class="label label-primary">ES6</span>
                      <span class="label label-primary">express</span>
                      <span class="label label-primary">mongodb</span>
                    </div>
                    <ul>
                      <li>独立承接公司官网设计方案</li>
                      <li>完成页面的设计</li>
                      <li>使用nodejs，java多语言代码编写</li>
                      <li>完成编码编译及测试完成在服务器部署</li>
                      <li>三大公司官网（紫贝文化创意港、美墅置业房产、美墅教育）</li>
                    </ul>
                    <div class="pro-icons">
                      <ul>
                        紫贝官网<li><a title="紫贝文化创意港" href="http://www.purplebay.org" target="_blank"><i class="fa fa-globe"></i></a></li>
                        美墅<li><a title="美墅置业房产" href="http://www.usa-houses.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                        教育<li><a title="美墅教育" href="http://www.usa-boardingschools.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                      </ul>
                    </div>
                    </div>
                </div>
                <div class="pro-wrapper">
                  <div class="head">
                    <div class="row">
                        <div class="col-md-2"><i class=""></i></div>
                        <div class="col-md-8">
                        <h3>企业宣传H5页面多种展示开发</h3>
                        </div>
                        <div class="col-md-2">
                        <div class="date-range">2016.1-2017.7</div>
                        </div>
                    </div>
                  </div>
                  <div class="body">
                    <div class="pro-labels">
                      <span class="label label-primary">html5</span>
                      <span class="label label-primary">jquery</span>
                      <span class="label label-primary">vue</span>
                      <span class="label label-primary">微信平台接口</span>
                    </div>
                    <ul>
                        <li>横版竖版格式页面的设计</li>
                        <li>多方位进行页面的滑动</li>
                        <li>宣传进行预约订购使用</li>
                        <li>后台展示信息查询</li>
                        <li>每日公众号群发信息内容格式设计发布</li>
                    </ul>
                    <div class="pro-icons">
                        <ul>
                        文化港H5<li><a title="学术创新" href="http://www.inorun.com/xueshuchuangxin" target="_blank"><i class="fa fa-globe"></i></a></li>
                        美食汇H5<li><a title="中秋家庭美食会" href="http://www.inorun.com/chuyi/invite.html" target="_blank"><i class="fa fa-globe"></i></a></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="pro-wrapper">
                    <div class="head">
                    <div class="row">
                        <div class="col-md-2"><i class=""></i></div>
                        <div class="col-md-8">
                        <h3>电信云邮件、云桌面平台</h3>
                        </div>
                        <div class="col-md-2">
                        <div class="date-range">2012.10-2014.12</div>
                        </div>
                    </div>
                    </div>
                    <div class="body">
                    <div class="pro-labels">
                      <span class="label label-primary">电信吸铁石、上海热线及易账单邮箱</span>
                      <span class="label label-primary">30台以上服务器负载均衡</span>
                      <span class="label label-primary">云桌面提供多模式用户桌面系统</span>
                      <span class="label label-primary">自动化桌面监控管理后台设计</span>
                    </div>
                    <ul>
                        <li>云邮件业务是通过邮件作为企业OA入口，以邮件插件的方式为企业提供各种所需业务平台的综合性项目。邮箱业务开发，包含页面及客户端收发邮件功能，支持多种邮件协议、备份归档机制，及相关扩展功能的开发。目前提供给电信吸铁石及上海热线邮箱使用，承载300万以上用户同时使用。目前也将电信电子账单的业务承接下来，将用户量扩展到千万级。</li>
                        <li>使用云管理平台cloudstack和xendesktop相结合生成电信运营商的桌面公有云的开发，针对电信网络组织结构，建立电信桌面公有云的业务，项目中提供的虚拟桌面类型包含有状态，无状态及共享模式。桌面使用人群包含个人、企业及大客户。项目完成各类自动化业务的，桌面资源的监控告警管理，业务计费流程。云桌面租用管理平台属于当前市面上创新类的项目,使得用户在主机租用基础上有了更新的产品选择.</li>
                      </ul>
                    </div>
                </div>
                <div class="pro-wrapper">
                    <div class="head">
                    <div class="row">
                        <div class="col-md-2"><i class=""></i></div>
                        <div class="col-md-8">
                        <h3>浦软汇智业务</h3>
                        </div>
                        <div class="col-md-2">
                        <div class="date-range">2011.6-2012.6</div>
                        </div>
                    </div>
                    </div>
                    <div class="body">
                    <div class="pro-labels">
                      <span class="label label-primary">云计算平台</span>
                      <span class="label label-primary">多种业务承租</span>
                      <span class="label label-primary">实时监控平台</span>
                    </div>
                    <ul>
                        <li>浦软汇智项目为天云公司的样板项目，项目中接手从需求入手，重新对项目进行了规划，为张江园区集成IaaS，PaaS和SaaS业务的综合性管理平台，用户可以注册平台进行对虚机购买管理及相关ISV厂商的接入，并提供诸多网络、存储、监控等即服务的增值服务。该平台即为工业园区的创业型企业提供了便宜的服务器平台，也为园区SaaS厂商增加了客户来源。</li>
                    </ul>
                    </div>
                </div>
                <div class="pro-wrapper">
                    <div class="head">
                    <div class="row">
                        <div class="col-md-2"><i class=""></i></div>
                        <div class="col-md-8">
                        <h3>上海移动云计算IDC业务</h3>
                        </div>
                        <div class="col-md-2">
                        <div class="date-range">2010.1-2011.12</div>
                        </div>
                    </div>
                    </div>
                    <div class="body">
                    <div class="pro-labels">
                      <span class="label label-primary">vmware</span>
                      <span class="label label-primary">sdn</span>
                      <span class="label label-primary">NAS均衡</span>
                    </div>
                    <ul>
                        <li>针对移动IDC机房进行云计算规划和二次开发应用，云计算虚拟服务器租用。该项目减少了IDC机房的空闲机器。我主要负责IDC机房建设的规划，资源的划分，硬软件的采购部署和协调解决项目中出现启动风暴，自动迁移等问题。进行对虚拟软件的部署，并实施原系统P2V的迁移方案。</li>
                    </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
