<section id="skill">
    <div class="row">`
      <div class="col-md-1">
        <div class="section-title">
          <div class="section-icon"><i class="fa fa-wrench"></i></div>
          <div class="title">
            <h4>技能</h4>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="box-wrapper">
          <div class="row">
            <div class="col-md-6">
              <div class="pro-skills">
                <div class="cat-title"><i class="fa fa-keyboard-o"></i><span>产品及项目管理</span></div>
                <div class="skill-body">
                  <div class="sub-body">
                    <div class="sub-cat-title"><i class="fa fa-chevron-circle-right"></i><span>项目管理</span></div>
                    <ul>
                      <li><span>调研规划及文档</span>
                        <div class="rating skillbar" data-percent="95%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">95%</div>
                        </div>
                      </li>
                      <li><span>售前交互</span>
                        <div class="rating skillbar" data-percent="90%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div>
                      </li>
                      <li><span>项目监控管理</span>
                        <div class="rating skillbar" data-percent="95%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">95%</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="sub-body">
                    <div class="sub-cat-title"><i class="fa fa-chevron-circle-right"></i><span>全栈式开发</span></div>
                    <ul>
                      <li><span>敏捷开发</span>
                        <div class="rating skillbar" data-percent="90%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div>
                      </li>
                      <li><span>开源产品应用</span>
                        <div class="rating skillbar" data-percent="75%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">75%</div>
                        </div>
                      </li>
                      <li><span>java/db</span>
                        <div class="rating skillbar" data-percent="85%">
                            <div class="skillbar-bar" style="background: #078DD6;"></div>
                            <div class="skill-bar-percent">85%</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function(){
                $('.skillbar').each(function(){
                  $(this).find('.skillbar-bar').animate({width:jQuery(this).attr('data-percent')},3000);
                });
              })                
            </script>
            <div class="col-md-6">
              <div class="lib-skills">
                <div class="cat-title"><i class="fa fa-puzzle-piece"></i><span>常用技能</span></div>
                <div class="skill-body">
                  <span class="label label-default">linux</span>
                  <span class="label label-default">mysql</span>
                  <span class="label label-default">java</span>
                  <span class="label label-default">php</span>
                  <span class="label label-default">Mean</span>
                  <span class="label label-default">vue</span>
                  <span class="label label-default">react</span>
                  <span class="label label-default">bootstrap</span>
                </div>
              </div>
              <div class="tooling-skills">
                <div class="cat-title"><i class="fa fa-puzzle-piece"></i><span>工具</span></div>
                <div class="skill-body">
                  <span class="label label-default">VScode</span>
                  <span class="label label-default">Illustrator</span>
                  <span class="label label-default">mockup</span>
                  <span class="label label-default">Scrum</span>
                  <span class="label label-default">markdown</span>     
                  <span class="label label-default">git/svn</span>                  
                </div>
              </div>
              <div class="lang-skills">
                <div class="cat-title"><i class="fa fa-puzzle-piece"></i><span>英语</span></div>
                <div class="skill-body">
                 <span class="label label-default">fluency</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
